@media only screen and (min-width:560px){
.wrapper{
    
    /* Grid Layout*/
    display: grid;
    /* Create the column framework*/
    grid-template-columns: 30% auto 30%; /*we made 3 column pages*/
    grid-template-rows: auto;
    
    /*position: relative;*/
    font-family: sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: url(../images/contactImage.jpg);
                /* The background-size actually takes the information of the viewport and then resize the content based on that resolution ratio it got from viewport
                
                if you use cover, it will use the image with stretch property to view the content in the page
                
                If you use contain property, it will not stretch the image, rather will take the proper resolution/reshapre width and height of the image and will paste and join to appear as a continuous image in the page.
                */
    
    background-size: contain;
}
    
    picture{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

.inline_box{
    background-color: bisque;
    color: brown;
    overflow: auto;
    
    
    
}
.inline_box img{   
    margin: 10px;
    float: right;
    
}



.wrapper nav{
  
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-decoration: none;
    text-align: center;
    
    
}
    
nav ul{
    
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

nav li{
    border: 2px solid red;
    text-decoration: none;
    list-style-type: none;
}

nav a{
    color: aliceblue;
    text-decoration: none;  
    
}
.wrapper blockquote{
                
                padding: 10px;
                font-family: Brush Script M7, cursive;
                font-size: 17px;
                color: #FF6699;
                border: 2px dashed #0000FF;
                line-height: 1.25;
                text-indent: 20px;
                text-shadow:1px 1px black;
                border-radius: 20px; /* 20px will be applied for each corner of the border*/
                border-radius: 20px 10px; /*20px will work for left-top and right-bottom, 10px will work for left-bottom and right-top */
                border-radius: 20px 10px 30px; /*20px will work for left-top, 10 px will work for left-bottom and right top, 30px will work for right bottom */
                border-radius: 20px 10px 30px 40px; /*20px~ left-top, 10px~right top, 30px ~ right bottom and 40px left bottom*/
                box-shadow:10px 10px 5px blue; 
                
            }

.bodyBG{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
display: grid;
    grid-template-columns: 30% auto 30%;
    border-spacing: 2px;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    */
    
    /*flex-wrap: This allows the flex boxes to be gone to the new line of the same pages*/
    
    
    background-color: beige;
    opacity: 0.8;
}
    .flexbox{
        width: 300px;  
        
    }

    /* This section changes the order of the boxes*/
    .bodyBG .flexbox:nth-child(1){
        order: 1;
    }
    
    .bodyBG .flexbox:nth-child(2){
        order: 3;
    }
    .bodyBG .flexbox:nth-child(3){
        order: 2;
    }
    
.header1{
    font-size: 20pt;
    font-weight: bold;
    
}
.teach_method{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
  margin: 10px;      
    }
.assessment{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;       
    }
.teaching_methods{ /* Box model*/
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /*
    position: static; /* default-- will maintain the sequence
    position: absolute; /* Absoulte position will put everything related to the main page/ the body element marging
    position: relative; /*will always place the content based on the previous element/div class/position*/
    */
    /*position: fixed;
    top: 20px;
    left: 10px;*/
    
    /*box-sizing: border-box;*/
    border: 3px solid red;
    text-align: justify;
    margin: 10px;/*This will put same space around the page*/
    /*
    margin: 5px 10px; /* 5px for top margin and bottom margin, 10 px for left and right margin
    margin:10px 20px 30px; /*10px is for top margin, 20px is for left and right, 30px is for bottom margin
    margin: 10px 20px 30px 40px; /* 10px is for top margin, 20 px for right margin,  30px for bottom margin, 40px is for left margin*/
    
    padding: 10px; /* this will apply same space in between context and the border around the content
    padding: 10px 20px; /*10 px for top and bottom, 20px for left and right
    padding: 10px 20px 30px; /* 10 px to top, 20px to left and right, 30px to bottom only;
    
    padding: 10px 20px 30px 40px; /* 10px for top padding, 20px for right padding, 30px for bottom padding and 40px for left padding */
       
    }
    .tableProperty{
        grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px; 
    }
    .tableProperty table{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 2px dashed blue;
        background-color: azure;
        color: brown;
    }
    .tableProperty caption{
        background-color: azure;
    }
    footer{
        grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 10px;
    }
}

@media print{
    .wrapper{
    background-image: none;
    
}

.wrapper img{
    display: none;
}

.wrapper nav{
    display: none;
}

.bodyBG{
    width: 100%;
    background-color: white;
}

.bodyBG blockquote{
                padding: 10px;
                font-family: Brush Script M7, cursive;
                font-size: 17px;
                color: #FF6699;
                border: 2px dashed #0000FF;
                line-height: 1.25;
                text-indent: 20px;
                text-shadow:1px 1px black;
                border-radius: 20px; /* 20px will be applied for each corner of the border*/
                border-radius: 20px 10px; /*20px will work for left-top and right-bottom, 10px will work for left-bottom and right-top */
                border-radius: 20px 10px 30px; /*20px will work for left-top, 10 px will work for left-bottom and right top, 30px will work for right bottom */
                border-radius: 20px 10px 30px 40px; /*20px~ left-top, 10px~right top, 30px ~ right bottom and 40px left bottom*/
                box-shadow:10px 10px 5px blue; 
                
    }
    
    
}
/* @media device: screen/print/a and min/max-width*/
@media only all and (max-width: 560px){
    .wrapper nav{
  
    
    text-decoration: none;
    text-align: center;
    
    
}
    
nav ul{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .bodyBG{
    width: 100%;
    /*background-color: beige;*/
    opacity: 0.8;
}
    
    .wrapper{
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*background-image: url(../images/contactImage.jpg);*/
    background-color: blueviolet;
                /* The background-size actually takes the information of the viewport and then resize the content based on that resolution ratio it got from viewport
                
                if you use cover, it will use the image with stretch property to view the content in the page
                
                If you use contain property, it will not stretch the image, rather will take the proper resolution/reshapre width and height of the image and will paste and join to appear as a continuous image in the page.
                */
    
    background-size: contain;
}

.inline_box{
    background-color: bisque;
    color: brown;
    overflow: auto;
    
    
    
}
.inline_box img{   
    margin: 10px;
    float: right;
    
}





nav li{
    width: 100%;
    border: 2px solid red;
    margin: 2px;
    text-decoration: none;
    list-style-type: none;
}

nav a{
    color: aliceblue;
    text-decoration: none;  
    
}
.wrapper blockquote{
                
                padding: 10px;
                font-family: Brush Script M7, cursive;
                font-size: 17px;
                color: #FF6699;
                border: 2px dashed #0000FF;
                line-height: 1.25;
                text-indent: 20px;
                text-shadow:1px 1px black;
                border-radius: 20px; /* 20px will be applied for each corner of the border*/
                border-radius: 20px 10px; /*20px will work for left-top and right-bottom, 10px will work for left-bottom and right-top */
                border-radius: 20px 10px 30px; /*20px will work for left-top, 10 px will work for left-bottom and right top, 30px will work for right bottom */
                border-radius: 20px 10px 30px 40px; /*20px~ left-top, 10px~right top, 30px ~ right bottom and 40px left bottom*/
                box-shadow:10px 10px 5px blue; 
                
            }


.header1{
    font-size: 20pt;
    font-weight: bold;
    
}
.teaching_methods{ /* Box model*/
    position: static; /* default-- will maintain the sequence*/
    position: absolute; /* Absoulte position will put everything related to the main page/ the body element marging*/
    position: relative; /*will always place the content based on the previous element/div class/position*/
    
    /*position: fixed;
    top: 20px;
    left: 10px;*/
    
    box-sizing: border-box;
    border: 3px solid red;
    text-align: justify;
    margin: 10px;/*This will put same space around the page*/
    /*
    margin: 5px 10px; /* 5px for top margin and bottom margin, 10 px for left and right margin
    margin:10px 20px 30px; /*10px is for top margin, 20px is for left and right, 30px is for bottom margin
    margin: 10px 20px 30px 40px; /* 10px is for top margin, 20 px for right margin,  30px for bottom margin, 40px is for left margin*/
    
    padding: 10px; /* this will apply same space in between context and the border around the content
    padding: 10px 20px; /*10 px for top and bottom, 20px for left and right
    padding: 10px 20px 30px; /* 10 px to top, 20px to left and right, 30px to bottom only;
    
    padding: 10px 20px 30px 40px; /* 10px for top padding, 20px for right padding, 30px for bottom padding and 40px for left padding */
       
    }
    
    .tableProperty table{
        padding: 5px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 2px dashed blue;
        background-color: azure;
        color: brown;
    }
    .tableProperty caption{
        background-color: azure;
    }
    
    .tableProperty .td3{
        background-color: beige;
    }
    
    #FamilyNo{
        font-family: cursive;
        background-color: aquamarine;
    }
    
    .Multimedia{
        text-align: center;
    }
    .Multimedia audio{
        width: 300px;
        height: 20px;
        
    }
    
    .Multimedia audio::-webkit-media-controls-panel{
        background-color: aqua;
    }
    
    .contactUs{
        text-align: center;
    }
    
    .contactUs table{
        text-align: left;
    }

    
}
    
    
    
    
    